@import '../../../styles/variables.scss';

#messageField {
  color: $gray;
  display: block;
  width: 100%;
  border: none;
  height: 3em;
  font-size: 1em;
  border: 1px solid $gray-lighterer;
  opacity: 0.8;
}

