#messageField {
  display: block;
  width: 100%;
  border: none;
  height: 2em;
  font-size: 1em;
  opacity: 0.2;
  transition: opacity 1s;
  background-color: #999;
}
#messageField:focus {
  outline: 0;
  background-color: #fff;
  opacity: 1.0;
}
