#messageField {
  display: block;
  width: 100%;
  border: none;
  height: 2em;
  font-size: 1em;
  opacity: 0.2;
  transition: opacity 1s;
}
#messageField:focus {
  outline: 0;
  color: green;
  background-color: #d1d1d1;
  opacity: 1.0;
}
