.sidebar-controls {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-top: 1em;
  .sidebar-nav {
    ul {
      margin: 0;
      list-style: none;
      li {
        display: inline-block;
      }
    }
    img {
      height: 40px;
    }
  }
}
