.sidebar {
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  overflow: hidden;
  z-index: 0;

  .sidebar-background {
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(6px);
    opacity:1;
    height: 100%;
  }

}
