.match-container {
  .match-card {
    max-height: 360px;
    overflow: auto;
    margin-bottom: 4%;
  }
  .match-profile-pic {
    text-align: center;
    padding-top: 10px;
    margin-bottom: -20px;
  }
  .match-detail {
    text-align: center;
  }
}
