footer{
  position: absolute;
  bottom: 1em;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 2rem 0 0;
    }
  }

  a:link {
    color:inherit;
  }
}
