#main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;

  .main-wrapper {
    text-align: center;
    .main-icon {
      width: 450px;
      height: auto;
      margin-bottom: -60px;
    }

    .intro {
      position: static;
      text-align: center;

      h1 {
        font-size: 7em;
        letter-spacing: -.08em;
        font-weight: 100;
        margin: 0px;
      }

      h2 {
        font-size: 2em;
        color: $green;
        margin: 0px;
      }

      h3 {
        font-size: 1em;
        color: inherit;
        line-height: 1.5em;
      }
    }
  }
}
