@import '../../../styles/variables.scss';

.chat-header {
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: $theme-green;
  padding: 20px 0 10px 0;
  margin: 0px auto;
  color: white;

  h2 {
    padding: 0;
    margin: 0;
  }
}

