@import '../../../styles/variables.scss';

.chat-header {
  z-index: 5;
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: white;
  padding: 20px 0 10px 0;
  margin: 0px auto;
  color: $theme-green;
  box-shadow: -3px 6px 5px -5px $gray-light;

  h2 {
    padding: 0;
    margin: 0;
  }

  .btn {
    cursor: pointer;
    border-color: $theme-green;
    color: $theme-green;
  }
  .btn:hover {
    color: white;
    background-color: $theme-green;
  }
}

