.chat-wrapper {
  position: absolute;
  width: 75%;
  height: 100%;
  margin-left: 25%;
    .chatbox {
      height: 100%;
    .input {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 10%;
      border-top: 1px #c1c1c1 solid;
    }
  }
}

