.match-list {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  margin-top: 5em;
  z-index: 1;
  .match {
    font-size: 1.3em;
    color: #fff;
    a {
      color: #fff;
      text-decoration: none;
      opacity: 1.0;
      transition: opacity 0.5s;
    }
    a:visited {
      color: #fff;
    }
    a:hover {
      opacity: 0.4;
    }
  }
}
