// Sitewide
$main-background: #eeeff2;
$main-font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
$main-font-color: #222;

$theme: #8cc540;
$theme-gray: #4c4a56;
$theme-gray-lighter: #636270;
$theme-white: #ddd;
$theme-green: #8cc540;
$theme-black: #111;

// 50 - 41 shades of gray
$gray-base: #000;
$gray-darkerer: #111;
$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #777;
$gray-lighter: #999;
$gray-lighterer: #aaa;
$gray-lightest: #eee;

// Typography
$font-size-small: 11px;
$font-size-base: 13px;
$font-size-medium: 15px;
$font-size-large: 18px;
$font-size-larger: 24px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
