@import '../../../styles/variables.scss';

.login-container {
  background-color: $theme-green;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;

  .login-wrapper {
    flex: auto;
  }

  .logo-banner {
    padding: 20px 0;

    .main-icon {
      width: 64px;
      height: auto;
      margin-bottom: 5px;
    }

    .app-title {
      color: #fff;
      font-family: 'Happy Monkey', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 1.5em;
      margin: 0;
    }
  }

  .hero-banner {
    background-position: center;
    background-size: cover;
    padding: 8vmin 0;

    h2 {
      color: #fff;
      margin: 0 0 .3em 0;
      line-height: 1.2em;
      font-weight: 400;

      .hello {
        color: $theme-green-light
      }
    }

    p {
      color: #fff;
      font-size: 2em;
      line-height: 1.6em;
      // font-variant: small-caps;
    }
  }
}
