.login-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;

  .login-wrapper {
    flex: 1;
  }

  .main-icon {
    width: 400px;
    height: auto;
    margin-bottom: -20px;
  }

  .intro {
    position: static;
    text-align: center;

    h1 {
      font-size: 7em;
      letter-spacing: -.08em;
      font-weight: 100;
      margin: 0;
    }

    h2 {
      font-size: 2em;
      color: green;
      margin: 0px;
    }

    h3 {
      font-size: 1em;
      color: inherit;
      line-height: 1.5em;
    }
  }
}
