@import '../../../styles/variables.scss';

.login-container {
  background-color: $theme-green;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;

  .login-wrapper {
    flex: 1;
  }

  .logo-banner {
    padding: 20px 0;

    .main-icon {
      width: 64px;
      height: auto;
      margin-bottom: 5px;
    }

    .app-title {
      color: #fff;
      font-family: 'Happy Monkey', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 1.5em;
      margin: 0;
    }
  }

  .hero-banner {
    filter: grayscale(100%);
    background-position: center;
    background-size: cover;
    padding: 50px 0;

    h2 {
      color: #fff;
      font-size: 5em;
      margin: 0;
      line-height: 1.5em;
    }
  }

  .intro {
    position: static;
    text-align: center;

    p {
      color: $theme-green-secondary;
      font-size: 1.5em;
      line-height: 2em;
    }
  }
}
