@import "variables.scss";

@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');

body {
  color: $main-font-color;
  font-family: $main-font-family;
  background-color: $main-background;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.app-container {
  flex: 1;
}

a {
  color: $theme-green;

  &:hover {
    color: $theme-green-secondary;
    text-decoration: none;
  }
}

.page-title {
  text-align: center;
  font-weight: 200;
  font-size: 40px;
}