$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap";

@import "../../../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../../../../node_modules/normalize.scss/normalize";
@import "./variables";

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,400,600);

body {
  background-color: #ddd;
  font-family: $raleway;
  font-size: 14px;
  color: $base-text;
}

@import "../components/**/*.scss";
