doctype html
html(lang="en")
  head
    title NUSHello
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=no")
    meta(name="keywords", content="")
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
  body
    div(id="app")
    script(src="/vendor.min.js")
    script(src="/app.js")
