.prefs {
  h1 {
    font-weight: 100;
  }

  .gender-row {
    width: 100%;

    .gender-btn {
      width: 50%;
    }
  }

  .personality-row {
    width: 100%;

    .personality-btn {
      width: 25%;
    }
  }
}
