.prefs {
  h1 {
    font-weight: 100;
  }

  .gender-row {
    width: 100%;

    .gender-btn {
      width: 50%;
    }
  }

  .personality-row {
    width: 100%;

    .personality-btn {
      width: 25%;
    }
  }

  .pref-submit {
    text-align: center;
    padding-top: 30px;
  }
}