.nh-nav {
  display: flex;
  justify-content: space-between;
  > li {
    display: inline-block;
    text-align: center;
    font-weight: 300;

    a {
      padding: 0;
    }
  }

  img {
    height: 50px !important;
    @media screen and (max-width: 768px){
      height: 30px;
    }
  }
}
